@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');

:root {
	--black: #353535;
	--teal: #6FD1C5;
	--gold: #FBB25C;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'DM Sans', sans-serif;
	color: var(--black);
}

.container {
  width: 1000px;
  margin: 0 auto;
  font-size: 1.6rem;
}

h1 {
	font-size: 3.6rem;
	font-weight: 400;
}
