.header {
  padding: 40px 0;
  background: #fff;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoLink {
  display: flex;
}

.logo {
  width: 90px;
}

.nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.nav li {
  margin-right: 15px;
  margin-bottom: 0;
}

.nav li:last-child {
  margin-right: 0;
}

.nav a {
  color: var(--black);
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 21px;
  white-space: nowrap;

  background-image: radial-gradient(var(--light-gold) 0%, var(--light-gold) 75%, #fff 75%, #fff 100%);
  background-repeat: no-repeat;
  background-size: 0 0;
  background-position: 50% 50%;
  transition: 0.2s;
}

.nav a:hover {
  color: var(--black);
  background-size: 100% 150%;
}

.nav a.active {
  background: var(--gold);
}

@media (max-width: 860px) {
  .headerContainer {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 30px;
  }
}
